.box {
  border: 1px solid black;
  height: 228px;
}
// .sidebar {
// }

.category_list {
  display: flex;
  // width: 307px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  // overflow-y: scroll;
}
// .category_item {
// }
.category_text {
  color: rgba(17, 17, 17, 0.6);
  text-align: justify;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.33;
  letter-spacing: -0.36px;
}

.category_text.current,
.category_text:hover,
.category_text:focus {
  color: #4f2ee8;
  text-align: justify;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;

  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .box {
    width: 337px;
    height: 472px;
  }
  .category_list {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  }
  .category_text {
    font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
    .box {
      width: 356px;
      height: 472px;
    }
  }
}
