@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&display=swap');

$main-font-family: 'DM Sans', sans-serif;
$text-font-weight: 400;
$title-font-weight: 700;

$main-color-light-theme: #111111;
$main-background-color-light-theme: #f6f6f6;
$secondary-background-color-light-theme: #ffffff;

$main-color-dark-theme: #ffffff;
$main-background-color-dark-theme: #202024;
$secondary-background-color-dark-theme: #111111;

$main-accent-color: #4f2ee8;
$secondary-accent-color: #eac645;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $main-font-family;

  color: $main-color-light-theme;
  background-color: $main-background-color-light-theme;
}

main {
  padding-top: 40px;
}

body.dark-theme {
  color: $main-color-dark-theme;
  background-color: $main-background-color-dark-theme;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }

  .home-container {
    display: flex;
    justify-content: space-between;
  }
}

aside {
  padding-top: 40px;
}
