body.no-scroll {
    overflow: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.40);;
    z-index: 1;
    transition: opacity 300ms linear, visibility 300ms linear;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    width: 335px;
    // height: 762px;
    flex-shrink: 0;
    // max-width: 450px;
    // height: 609px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    border: 2px solid #111;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms;
    padding: 40px 24px;
  }
  .backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0);
  }
  .modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    // border-color: rgba(0, 0, 0, 0.1);
    // border-radius: 50%;
    cursor: pointer;
    svg {
    fill: #000;
    background-color: #fff;
    width: 24px;
    height: 24px;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  };
  &:hover svg, &:focus svg{
    fill: #4F2EE8;
  };
  }
  .modal-image-container{
    border-radius: 8px;
    // background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-bottom: 14px;
  }
  .modal-title{
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing: -0.64px; 
    margin-bottom: 4px;
  }
  .modal-sub-title{
    color: #B4AFAF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.167em;
    letter-spacing: -0.48px;
    margin-bottom: 18px;
  }
  .modal-description{
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.286em;
    letter-spacing: -0.56px;
    margin-bottom: 14px;
  }
  .modal-links{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    &:not-last-child{
        margin-right: 20px;
    };
  }
  .modal-order-btn{
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.286em;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    padding: 14px 23px;
    margin-bottom: 8px;
  }
  .modal-success-mesage{
    color: rgba(17, 17, 17, 0.50);
    text-align: center;
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: -0.4px;
    &.is-hidden {
        display: none;
    }
  }
  