.modal__auth{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #4F2EE8;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

.modal__auth.open {
    opacity: 1;
    visibility:visible;
}
}
.modal__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    width: 579px;
    height: 516px;
    border: solid 2px black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 40px 40px;
}
.signIn-form{
    width: 100%;
    display: grid;
    row-gap: 28px;
}
.auth-input{
    border: solid 2px black;
    border-radius: 40px;
    width: 100%;
    height: 64px;
    padding-left: 40px;
}
.SignUpBtn{
    border-radius: 40px;
    width: 100%;
    height: 64px;
    padding-left: 40px;
    background-color:black ;
    color: #F3F3F3;
    &:hover{
        scale: 105%;
        transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
}
.button-box{
    margin-top: 20px;
}
.signIn, .signUp {
    border: none;
    background-color: white;
    &:hover {
        text-decoration: underline;
        color: #4F2EE8;
    }
}
.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    &:hover{
        scale: 120%;
        transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

}

