$main-add-color: #B4AFAF;
$main-color-text-darl-theme: rgba(255, 255, 255, 0.60);

.shopping-list {
    padding-top: 40px;
    padding-bottom: 302px;

}


.common {

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.08;

    letter-spacing: -1.92px;
}

.main-title {
    color: $main-color-light-theme;
    margin-bottom: 140px;
    .dark-theme & {
            color: $main-color-dark-theme;
        }

}



.add-list-color {
    color: $main-accent-color;

}

.list-cards {
    display: flex;
    gap: 8px;
width: 100%;
    height: 100%;
}



.amazon-icon {
width: 32px;
height: 11px;
}


.apple-book-icon, .box-icon {
width: 16px;
height: 16px;
}

.item-images {
    position: absolute;
        bottom: 0;
        right: 0;
}

.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border-radius: 50%;


    // color: transparent;
    // mix-blend-mode: luminosity;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .dark-theme & {
        background-color: $main-color-dark-theme;
    }
}


.base:not(:last-child) {
    margin-bottom: 20px;
  
}


.item-link {
    
        box-shadow: none;
      
        background-repeat: no-repeat;
        background-size: cover;
     

    &:hover,
    &:focus {

        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
        ;

    }
}


.container {
    width: 100%;
}
.item-link:hover .underline {
    width: 100%;

}




.thumb {
    position: relative;
    display: flex;
    flex-direction: column;
    /* Розмістити елементи вертикально */
    justify-content: flex-end;
    /* Вирівняти до нижнього краю */
    align-items: flex-end;
    /* Вирівняти до правого краю */
    max-width: 100%;
    height: 100%;
}

.list-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.40);
    background-color: $secondary-background-color-light-theme;
    padding: 14px;
 
    .dark-theme & {
            background-color: $secondary-background-color-dark-theme;
        }

}

 .card-image {
    max-width: 100%;
    // height: auto;
    border-radius: 8px;
    margin-right: 14px;
        position: relative;
}


.amazon {
width: 62px;
    height: 19px;
    background-image: url(../images/png_amazon.png);

    &:hover,
    &:focus {
        background-image: url(../images/png_amazon_hover.png);
    }

    ;
}


.apple-books {
    width: 32px;
        height: 32px;
    background-image: url(../images/apple_books.png);
    
        &:hover,
        &:focus {
            background-image: url(../images/apple_books_hover.png);
        }
    
        ;
}



.bookshop {
    width: 38px;
        height: 36px;
        background-image: url(../images/bookshop.png);
    
        &:hover,
        &:focus {
            background-image: url(../images/bookshop_hover.png);
        }
    
        ;
}

.content-container {
    flex: 1;
        width: 100%;
}



.btn-delete {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: $main-accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    border: none;
}

.btn-delete:hover,
.btn-delete:focus {
    background-color: #FF5733;
}

.card-title {
    color: $main-color-light-theme;
    margin-bottom: 4px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    .dark-theme & {
        color: $main-color-dark-theme;
    }

}

.card-text {
    color: $main-add-color;
    margin-bottom: 8px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.36px;

}


.main-card-text {

    color: $main-color-light-theme;
    margin-bottom: 14px;

    overflow: hidden;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    .dark-theme & {
        color: $main-color-dark-theme;
    }

}


.text-author {
    color: $main-add-color;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.48px;
}

.list-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 14px;
    right: 14px;
    gap: 8px;
}






.default-text {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3333;
    letter-spacing: -0.36px;
    .dark-theme & {
            color: $main-color-text-darl-theme;
        }
}



.default-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


.default-message {
    text-align: center;
}

.text-author {
    position: absolute;
    bottom: 14px;
}


@media screen and (max-width: 767px) {
    .common {
        font-size: 32px;
        line-height: 1.18;

        letter-spacing: -1.28px;
    }

    .main-title {
        margin-bottom: 120px;
    }

    .text-author {
            position: absolute;
                bottom: 14px;
    }

    .default-text {

        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.28px;
        margin-bottom: 14px
    }

    .amazon {
        width: 32px;
        height: 11px;
    }
    .apple-books, .bookshop {
        width: 16px;
        height: 16px;
    }

}


@media screen and (min-width: 768px) {
    .main-title {
        display: inline-block;
        margin-left: 0 auto;
    }

    .main-card-text {
        margin-bottom: 48px;
    }

    .card-text {
        margin-bottom: 14px;
    }

    .list-item {
        padding: 24px
    }

    .btn-delete {
        top: 24px;
        right: 24px;
    }

    .list-icons {
        bottom: 24px;
        right: 24px;
        gap: 16px;
    }


    .amazon-icon {
        width: 48px;
        height: 15px;
    }

    .apple-book-icon, .box-icon {
        width: 28px;
        height: 28px;
    }


    .text-author {
      
        bottom: 24px;
    }
}




@media screen and (min-width: 1440px) {
    .thumb {
        width: 70%;
    }

}



