@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #111111;
  background-color: #f6f6f6;
}

body.dark-theme {
  color: #ffffff;
  background-color: #202024;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
  .home-container {
    display: flex;
    justify-content: space-between;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

@media screen and (max-width: 767px) {
  .home-book-card:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .book-by-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .book-by-category-list {
    width: 996px;
  }
}
@media screen and (max-width: 374px) {
  .home-book-card {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .home-book-card {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .home-book-card {
    width: 218px;
  }
}
@media screen and (min-width: 1440px) {
  .home-book-card {
    width: 180px;
  }
}
.home-book-card-img {
  width: 100%;
}

.img-container {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media screen and (max-width: 374px) {
  .home-book-card {
    height: 100%;
  }
}
@media screen and (min-width: 375px) {
  .img-container {
    height: 485px;
  }
}
@media screen and (min-width: 768px) {
  .img-container {
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .img-container {
    height: 256px;
  }
}
.home-book-card-book-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.home-book-card-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

img {
  display: inline-block;
}

.shopping-list {
  padding-top: 40px;
  padding-bottom: 302px;
}

.common {
  font-family: DM Sans, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.92px;
}

.main-title {
  color: #111111;
  margin-bottom: 140px;
}

.default-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-list-color {
  color: #4f2ee8;
}

.list-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .common {
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: -1.28px;
  }
  .main-title {
    margin-bottom: 120px;
  }
  .default-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
    margin-bottom: 14px;
  }
}
.thumb {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Розмістити елементи вертикально */
  justify-content: flex-end;
  /* Вирівняти до нижнього краю */
  align-items: flex-end;
  /* Вирівняти до правого краю */
  width: 100%;
  height: 100%;
}

.list-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #FFF;
  padding: 14px;
}

.image-container {
  margin-right: 14px;
}

.content-container {
  flex: 1;
}

.btn-delete {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #4F2EE8;
  border-radius: 50%;
  border: none;
}

.card-title {
  color: #111111;
  margin-bottom: 4px;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.card-text {
  color: #B4AFAF;
  margin-bottom: 8px;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
}

.main-card-text {
  color: #111111;
  margin-bottom: 16px;
  overflow: hidden;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.text-author {
  color: #B4AFAF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  /* 116.667% */
  letter-spacing: -0.48px;
}

.icons-container {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
}

.item-images {
  margin-left: 5px;
  /* Додатковий відступ між зображеннями */
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.default-text {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 20px;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3333;
  letter-spacing: -0.36px;
}

.default-img {
  max-width: 100%;
  height: auto;
}

.default-message {
  text-align: center;
}

@media screen and (min-width: 1440) {
  .main-title {
    display: inline-block;
    margin-left: 0 auto;
  }
}/*# sourceMappingURL=index.css.map */