@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #111111;
  background-color: #f6f6f6;
}

body.dark-theme {
  color: #ffffff;
  background-color: #202024;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
  .home-container {
    display: flex;
    justify-content: space-between;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.header-container {
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: DM Sans;
}
@media screen and (max-width: 767px) {
  .header-container {
    height: 64px;
    width: 100%;
  }
}

.header-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-menu {
    width: 100%;
  }
}

.logo-svg {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .signup-btn {
    display: none;
  }
  .swtcher {
    display: flex;
  }
  .mob-menu {
    display: flex;
    align-items: center;
    position: relative;
    gap: 14px;
    width: 28px;
    height: 28px;
    margin-right: 18px;
  }
  .mob-menu.is-open .burger-menu {
    display: none;
  }
  .mob-menu:hover, .mob-menu:focus {
    fill: #4f2ee8;
  }
  .burger-menu {
    border: none;
    background-color: #f6f6f6;
    fill: #202024;
  }
  .burger-menu.is-open {
    display: none;
  }
  .mob-container {
    position: fixed;
    left: 0;
    top: 64px;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
    overflow-x: scroll;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-container.is-open .burger-menu {
    display: none;
  }
  .mob-container.is-open .close-menu {
    display: inline-block;
  }
  .mob-signup-btn {
    width: 184px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #111111;
    background: #4f2ee8;
    color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
  .arrow {
    margin-left: 90px;
  }
  .decoration {
    position: absolute;
    bottom: 0;
    margin-bottom: 45px;
  }
  .close-menu {
    display: none;
    align-items: center;
    position: absolute;
    margin-left: auto;
    line-height: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
    margin-left: auto;
    justify-content: center;
    background-color: transparent;
  }
  .js-mob-menu.is-open .close-menu {
    display: inline-block;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  width: 40px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
}

.switcher {
  background: url(../images/bg.png) no-repeat center center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 14px;
}

input:checked + .slider {
  background: url(../images/bg-dark.png) no-repeat center center;
}

input:checked + .slider:before {
  transform: translate(23px);
}

.slider {
  cursor: pointer;
  color: rgb(79, 46, 232), rgb(220, 220, 220);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider:before {
  content: "";
  height: 18px;
  width: 18px;
  background: #fff;
  margin: auto 0;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(32, 32, 32, 0.24);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
  .header-container {
    padding: 0;
    height: 72px;
  }
  .header-list {
    display: inline-flex;
    align-items: center;
    margin-right: 101px;
    margin-left: 40px;
    text-transform: uppercase;
  }
  .header-item {
    display: flex;
    padding: 8px 10px;
    gap: 10px;
    border-radius: 36px;
  }
  .header-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    height: 34px;
    width: 72px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .header-link.link:focus, .header-link.link:active {
    background: #eac645;
    border-radius: 36px;
  }
  .shopping-link {
    padding: 7px 16px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    gap: 8px;
    display: flex;
  }
  .signup-btn {
    width: 184px;
    height: 45px;
    border-radius: 18px;
    border: 1.5px solid #111111;
    background: #4f2ee8;
    color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
  .arrow {
    margin-left: 90px;
  }
}
.header-link.link.current,
.shopping-link.link.current {
  background: #eac645;
  border-radius: 36px;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1440px;
  }
  .header-list {
    margin-right: 745px;
  }
  .switcher {
    margin-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .home-book-card:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .book-by-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .book-by-category-list {
    width: 996px;
  }
}
@media screen and (max-width: 374px) {
  .home-book-card {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .home-book-card {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .home-book-card {
    width: 218px;
  }
}
@media screen and (min-width: 1440px) {
  .home-book-card {
    width: 180px;
  }
}
.home-book-card-img {
  width: 100%;
}

.img-container {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media screen and (max-width: 374px) {
  .home-book-card {
    height: 100%;
  }
}
@media screen and (min-width: 375px) {
  .img-container {
    height: 485px;
  }
}
@media screen and (min-width: 768px) {
  .img-container {
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .img-container {
    height: 256px;
  }
}
.home-book-card-book-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.home-book-card-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}/*# sourceMappingURL=index.css.map */