<div class="category-box">
  <aside class="sidebar">
    <ul class="category_list">
      <li class="category_item">
        <p class="category_text current">All categories</p>
      </li>
      <!-- <li class="category_item">
        <p class="category_text">Young Adult Hardcover</p>
      </li>
      <li class="category_item">
        <p class="category_text">Business Books</p>
      </li>
      <li class="category_item">
        <p class="category_text">Trade Fiction Paperback</p>
      </li>
      <li class="category_item">
        <p class="category_text">Mass Market Monthly</p>
      </li>
      <li class="category_item">
        <p class="category_text">Paperback Nonfiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Picture Books</p> -->
      <!-- </li> -->
      <!-- <li class="category_item">
        <p class="category_text">Hardcover Fiction</p> -->
      <!-- </li> -->
    </ul>
  </aside>
</div>
