<div class="category-box">
  <aside class="sidebar">
    <ul class="category_list">
      <li class="category_item">
        <p class="category_text">All categories</p>
      </li>
      <li class="category_item">
        <p class="category_text">Hardcover fiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Hardcover nonfiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Paperback trade fiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Paperback trade fiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Paperback nonfiction</p>
      </li>
      <li class="category_item">
        <p class="category_text">Advice, how-to & Miscellaneous</p>
      </li>
      <li class="category_item">
        <p class="category_text">Children’s middle grade hardcover</p>
      </li>
    </ul>
  </aside>
</div>
