<div class="container header-container">
  <nav class="header-menu">
    <div class="logo" href="./index.html">
      <a class="logo-svg" href="./index.html">
        <svg         
          width="24"
          height="24"><use href="./images/icons.svg#icon-logo"></use>
         </svg>
         <svg
          class="text-logo"
          width="78"
          height="14"><use href="./images/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
    </div>
    <ul id="header-list" class="header-list">
      <li class="header-item">


        <a class="header-link link" href="./index.html">home</a>


      </li>
      <li class="header-item">
        <a class="shopping-link link current" href="./shopping-list.html"
          >Shopping List
          <svg  class="cart, shopping-icon-svg"            
            width="20"
            height="20"><use href="./images/icons.svg#icon-shopping"></use>         
          </svg>
        </a>
      </li>
    </ul>
   <div class="switcher">
  <span class="wrapper">
    <label id="switch" class="switch">
      <input type="checkbox" class="switcher-toggle" id="slider" />
      <span class="round slider"></span>
    </label>
  </span>
</div>
    <button type="button" class="signup-btn js-signup">
      Sign up<svg        
      width="20"
      height="20"><use href="./images/icons.svg#icon-arrow-yellow"></use>        
    </svg>
    </button>
    <div class="user-btn-container">
  <button class="user-bar-btn" type="button">
    <div class="user-bar-photo">
      <svg class="user-svg" width="19" height="19">
        <use href="./images/icons.svg#icon-user"></use>
      </svg>
    </div>
    <span class="user-name">Stephen</span>
    <svg class="user-arrow-svg" width="23" height="26">
      <use href="./images/icons.svg#icon-arrow-accaunt"></use>
    </svg>
  </button>
  <button class="user-bar-log-out-btn" type="button">
    <span class="log-out-text">Log out</span>
    <svg class="user-arrow-svg" width="20" height="20">
      <use href="./images/icons.svg#icon-arrow-yellow"></use>
    </svg>
  </button></div>
    <div class="mob-menu js-mob-menu">
      <button class="burger-menu js-open-menu">
        <svg id="burger-svg"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
        >
          <path
            d="M19.8333 11.6667H3.5"
            stroke="#111111"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24.5 7H3.5"
            stroke="#111111"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24.5 16.3333H3.5"
            stroke="#111111"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M19.8333 21H3.5"
            stroke="#111111"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg></button
      ></span>
      <button type="button" class="close-menu mobile-menu-btn js-menu-close">
        <svg class="close-btn"        
          width="28"
          height="28"><use href="./images/icons.svg#icon-close"></use>        
        </svg>
      </button>
      <div class="mob-container  js-mobile-container">
        <button type="button" class="mob-signup-btn js-signup">
          Sign up<span class="arrow"
            ><svg        
            width="20"
            height="20"><use href="./images/icons.svg#icon-arrow-yellow"></use>        
          </svg></span>
        </button>
        <div class="user-login-mob-menu-container">
          <div class="user-bar-photo">
        <svg class="user-svg" width="19" height="19">
          <use href="./images/icons.svg#icon-user"></use>
        </svg></div>
   
      <span class="user-name">Stephen</span></div>
      <ul class="header-list-mob">
        <li class="header-item">
  
          <a class="header-link link" href="./index.html">home</a>

        </li>
        <li class="header-item">
          <a class="shopping-link link current" href="./shopping-list.html"
            ><span>Shopping List</span>
            <svg class="shopping-icon-svg" width="20" height="20">
              <use href="./images/icons.svg#icon-shopping"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="log-out-mob-btn" type="button">
        <span class="log-out-text">Log out</span>
        <svg class="user-arrow-svg" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow-yellow"></use>
        </svg>
      </button>
        <img class="decoration" src="./images/mob-menu-books.png" />
        
      </div>

    </div>
  </nav>
</div>
<button id="scrollToTopButton" class="visually-hidden">
  <img class="upButton" src="./images/up.png" alt="Scroll to Top">
</button>