<h1 class="title-books title-books-tab">Best Sellers <span class="title-books-wrap">Books</span></h1>

  <ul>
    <li class="home-books-container">
      <h2 class="books-best">Combined Print and E-Book Fiction</h2>
      <ul class="book-by-category-list">
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
         
          </div>
          
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
          
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
      </ul>
      <button class="best-sellers-btn" type="button">see more</button>
    </li>
    <li class="home-books-container">
      <h2 class="books-best">Combined Print and E-Book Fiction</h2>
      <ul class="book-by-category-list">
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
            
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
        <li class="home-book-card js-book-card" data-book-id="0000">
          <div class="img-container js-book-card" data-book-id="0000">
            <img
              class="home-book-card-img js-book-card"
              src="./images/book.jpg"
              alt=""
              data-book-id="0000"
            />
          </div>
          <h3 class="home-book-card-book-titl js-book-card" data-book-id="0000">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="home-book-card-author js-book-card" data-book-id="0000">
            Lorem ipsum
          </p>
        </li>
      </ul>
      <button class="best-sellers-btn" type="button">see more</button>
    </li>
  </ul>


