<h1>Best Sellers Books</h1>
<div>
    <h2>Combined Print and E-Book Fiction</h2>
    <ul>
        <li class="home-book-card">
            <div class="img-container">
              <img class="home-book-card-img" src="./images/book.jpg" alt="" />
            </div>
            <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
            <p class="home-book-card-author">Lorem ipsum</p>
          </li>
          <li class="home-book-card">
            <div class="img-container">
              <img class="home-book-card-img" src="./images/book.jpg" alt="" />
            </div>
            <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
            <p class="home-book-card-author">Lorem ipsum</p>
          </li>
          <li class="home-book-card">
            <div class="img-container">
              <img class="home-book-card-img" src="./images/book.jpg" alt="" />
            </div>
            <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
            <p class="home-book-card-author">Lorem ipsum</p>
          </li>
          <li class="home-book-card">
            <div class="img-container">
              <img class="home-book-card-img" src="./images/book.jpg" alt="" />
            </div>
            <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
            <p class="home-book-card-author">Lorem ipsum</p>
          </li>
          <li class="home-book-card">
            <div class="img-container">
              <img class="home-book-card-img" src="./images/book.jpg" alt="" />
            </div>
            <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
            <p class="home-book-card-author">Lorem ipsum</p>
          </li>
    </ul>
    <button type="button">see more</button>
</div>

