<ul class="book-by-category-list">
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
  <li class="home-book-card">
    <div class="img-container">
      <img class="home-book-card-img" src="./images/book.jpg" alt="" />
    </div>
    <h3 class="home-book-card-book-title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-book-card-author">Lorem ipsum</p>
  </li>
</ul>
