<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal__auth">
      <div class="modal__body">
        <div class="modal__content">
          <svg class="modal-close" width="20" height="20">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>

          <form data-action="up" action="submit" class="signIn-form">
            <div>
              <input
                type="text"
                name="name"
                required
                class="auth-input"
                minlength="3"
                maxlength="10"
                placeholder="NAME"
              />
              <input
                type="text"
                name="email"
                required
                pattern="\S+@[a-z]+.[a-z]+"
                class="auth-input"
                placeholder="EMAIL"
              />
              <input
                type="password"
                id="password"
                required
                name="password"
                class="auth-input"
                placeholder="PASSWORD"
                minlength="6"
              />
            </div>
            <label class="checkbox-label"
              ><input type="checkbox" class="password-checkbox" /> Show
              password</label
            >
            <button type="submit" name="regist" class="SignUpBtn">
              SIGN UP
            </button>
          </form>

          <div class="button-box">
            <button
              data-action="up"
              type="button"
              class="signUp active"
              name="signUp"
            >
              SIGN UP
            </button>
            <button data-action="in" type="button" class="signIn" name="signIn">
              SIGN IN
            </button>
          </div>
          <div class="userName" style="font-size: 30px"></div>
        </div>
      </div>
    </div>
  </body>
</html>
