<div class="backdrop is-hidden" id="modal">
  <div class="modal-window">
    <button class="modal-close-btn">
      <svg class="modal-close-btn-svg" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-desctop-container">
      <div class="modal-image-container"></div>
      <div class="modal-description-container">
        <h2 class="modal-title"></h2>
        <p class="modal-sub-title"></p>
        <p class="modal-description"></p>
        <div class="modal-links"></div>
      </div>
    </div>
    <button class="modal-order-btn" data-action="add">
      Add to shopping list
    </button>
    <p class="modal-success-mesage is-hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
