<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modal__auth">
        <div class="modal__body">
            <div class="modal__content">
                <img class="modal-close" src="./images/x-close.png" alt="">
                <form action="submit" class="signIn-form">
                    <input type="text" name="name" required class="auth-input" placeholder="NAME">
                    <input type="text" name="email" required class="auth-input" placeholder="EMAIL">
                    <input type="text" type="password" required name="password" class="auth-input" placeholder="PASSWORD">
                    <button type="submit" name="regist" class="SignUpBtn">SIGN UP</button>
                </form>

                    <div class="button-box">
                        <button class="signUp" name="signUp">SIGN UP</button>
                        <button class="signIn" name="signIn">SIGN IN</button>
                    </div>
                <div class="userName" style="font-size: 30px;"></div>
            </div>
        </div>
    </div>
</body>
</html>