<div class="backdrop is-hidden" id="modal">
    <div class="modal-window">
        <button class="modal-close-btn">
            <svg viewBox="0 0 28 28" heigth="24" xmlns="http://www.w3.org/2000/svg"><path d="M21 7 7 21M7 7l14 14"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </button>
        <div class="modal-desctop-container">
            <div class="modal-image-container"></div>
            <div class="modal-description-container">
                <h2 class="modal-title"></h2>
                <p class="modal-sub-title"></p>
                <p class="modal-description"></p>
                <div class="modal-links"></div>
            </div>
        </div>
        <button class="modal-order-btn" data-action="add">Add to shopping list</button>
        <p class="modal-success-mesage is-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
    </div>
</div>
