<div class="container-cards">
    <section class="shopping-list">

        <div class="common ">
            <h1 class="main-title reset">Shopping
                <span class="add-list-color">List</span>
            </h1>
        </div>

        <div class="default-message default-page">
            <p class="default-text">This page is empty, add some books and proceed to order.</p>
            <img class="default-img" src="./images/default-book-page.png" alt="books">
        </div>



        <div class="js-container thumb has-cards"></div>
    

    </section>
</div>