<div class="container container-cards">
    <section class="shopping-list">

        <div class="common">
            <h1 class="main-title">Shopping
                <span class="add-list-color">List</span>
        </div>
        </h1>
        <div class="default-content">
            <ul class="default-message">
                <p class="default-text">This page is empty, add some books and proceed to order.</p>
                <img class="default-img" src="./images/default-book-page.png" alt="books">
            </ul>
      
            <div class="thumb">
            <ul class="js-container list-cards">
         
             
                <li class="js-item list-item">
                   
                    <div class="image-container">
                        <img src="./images/Rectangle 13.jpg" alt="book">

                    </div>

                    <div class="content-container">
                        <h2 class="card-title">I will find you</h2>
                        <p class="card-text">Hardcover fiction</p>
                        
                        <p class="main-card-text">David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream
                            life just a short drive away
                            from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David
                            woke
                            suddenly to discover Matthew had been murdered while David was asleep just down the hall.</p>
                        
                        <p class="text-author">Harlan Coben</p>
                    
                            <!-- <div class="icons-container">
                                <li class="item-images">
                                    <a href="" class="item-link">
                                        <img src="./images/pngbook.png" alt="amazon">
                                    </a>
                                </li>
                                <li class="item-images">
                                    <a href="" class="item-link">
                                        <img src="./images/pngyellow.png" alt="amazon">
                                    </a>
                                </li>
                                <li class="item-images"><a href="" class="item-link">
                                        <img src="./images/png_amazon.png" alt="amazon">
                                    </a>
                                </li>
                            </div> -->
                  

                            <button type="button" class="btn-delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path
                                d="M6 2H10M2 4H14M12.6667 4L12.1991 11.0129C12.129 12.065 12.0939 12.5911 11.8667 12.99C11.6666 13.3412 11.3648 13.6235 11.0011 13.7998C10.588 14 10.0607 14 9.00623 14H6.99377C5.93927 14 5.41202 14 4.99889 13.7998C4.63517 13.6235 4.33339 13.3412 4.13332 12.99C3.90607 12.5911 3.871 12.065 3.80086 11.0129L3.33333 4M6.66667 7V10.3333M9.33333 7V10.3333"
                                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                            </button>
                         </div>
               
                </li>
            </ul>
            </div>
        </div>
   
    </section>
        </div>
