<link
  rel="stylesheet"
  href="https://i.icomoon.io/public/temp/9d6098fce6/UntitledProject/style-svg.css"
/>
<script
  defer
  src="https://i.icomoon.io/public/temp/9d6098fce6/UntitledProject/svgxuse.js"
></script>

<link
  rel="stylesheet"
  href="https://i.icomoon.io/public/temp/3252c7607b/UntitledProject/style-svg.css"
/>
<script
  defer
  src="https://i.icomoon.io/public/temp/3252c7607b/UntitledProject/svgxuse.js"
></script>

<div class="support-ukraine-block">
  <p class="support-head">
    Support Ukraine<svg class="icon-emblem">
      <use xlink:href="#icon-Group-2"></use>
    </svg>
  </p>
  <div class="support-ukraine-container">
    <ul class="support-ukraine-list">
      <li class="support-ukraine-item elem">
        01<img
          class="support-ukraine-img"
          src="/src/images/1-min.png"
          alt="Save the children"
        />
      </li>
      <li class="support-ukraine-item elem">
        02<img
          class="support-ukraine-img"
          src="/src/images/2-min.png"
          alt="Project Hope"
        />
      </li>
      <li class="support-ukraine-item third elem">
        03
        <img src="/src/images/3-min.png" alt="United24" class="third-image" />
      </li>
      <li class="support-ukraine-item" id="fourth">
        04
        <img
          class="support-ukraine-img"
          src="/src/images/4-min.png"
          alt="International Medical Corps"
        />
      </li>
      <li class="support-ukraine-item">
        05
        <img
          class="support-ukraine-img"
          src="/src/images/5-min.png"
          alt="Medecins sans frontieres"
        />
      </li>
      <li class="support-ukraine-item">
        06
        <img
          class="support-ukraine-img"
          src="/src/images/6-min.png"
          alt="Razom"
        />
      </li>
    </ul>

    <ul class="hidden">
      <li class="support-ukraine-item seventh">
        07
        <img
          class="support-ukraine-img"
          src="/src/images/7-min.png"
          alt="Action against hunger"
        />
      </li>
      <li class="support-ukraine-item seventh">
        08
        <img
          class="support-ukraine-img"
          src="/src/images/8-min.png"
          alt="World Vision"
        />
      </li>
      <li class="support-ukraine-item seventh">
        09
        <img
          class="support-ukraine-img"
          src="/src/images/9-min.png"
          alt="Charity foundation Sergiy Prytula"
        />
      </li>
    </ul>
  </div>
  <button id="show-more-button" class="circle">
    <svg class="icon-direction">
      <use xlink:href="#icon-fi-rr-angle-small-left"></use>
    </svg>
  </button>

  <button id="second" class="circle second-c">
    <svg class="icon-direction-second">
      <use xlink:href="#icon-Vector"></use>
    </svg>
  </button>
</div>
