<link
  rel="stylesheet"
  href="https://i.icomoon.io/public/temp/b5d02a32cc/UntitledProject/style-svg.css"
/>
<script
  defer
  src="https://i.icomoon.io/public/temp/b5d02a32cc/UntitledProject/svgxuse.js"
></script>

<div class="support-ukraine-block">
  <p class="support-head">
    Support Ukraine<svg class="icon-emblem">
      <use xlink:href="#icon-Group-2"></use>
    </svg>
  </p>
  <div class="support-ukraine-container">
    <div class="support-ukraine-container__inner">
      <ul class="support-ukraine-list">
        <li class="support-ukraine-item elem">
          01<a
            href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
            target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/1-min.png"
              alt="Save the children"
          /></a>
        </li>
        <li class="support-ukraine-item elem">
          02<a
            href="https://www.projecthope.org/country/ukraine/"
            target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/2-min.png"
              alt="Project Hope"
          /></a>
        </li>
        <li class="support-ukraine-item third elem">
          03
          <a href="https://u24.gov.ua/uk" target="_blank"
            ><img
              src="/src/images/3-min.png"
              alt="United24"
              class="third-image"
            />
          </a>
        </li>
        <li class="support-ukraine-item" id="fourth">
          04
          <a
            href="https://internationalmedicalcorps.org/country/ukraine/"
            target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/4-min.png"
              alt="International Medical Corps"
          /></a>
        </li>
        <li class="support-ukraine-item">
          05
          <a href="https://www.msf.org/ukraine" target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/5-min.png"
              alt="Medecins sans frontieres"
          /></a>
        </li>
        <li class="support-ukraine-item">
          06
          <a href="https://www.razomforukraine.org/" target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/6-min.png"
              alt="Razom"
          /></a>
        </li>
        <li class="support-ukraine-item seventh">
          07
          <a
            href="https://www.actionagainsthunger.org/location/europe/ukraine/"
            target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/7-min.png"
              alt="Action against hunger"
          /></a>
        </li>
        <li class="support-ukraine-item seventh">
          08
          <a href="https://www.wvi.org/emergencies/ukraine" target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/8-min.png"
              alt="World Vision"
          /></a>
        </li>
        <li class="support-ukraine-item seventh">
          09
          <a href="https://prytulafoundation.org/en" target="_blank"
            ><img
              class="support-ukraine-img"
              src="/src/images/9-min.png"
              alt="Charity foundation Sergiy Prytula"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <button id="show-more-button" class="circle">
    <svg width="22" height="22">
      <use href="./images/icons.svg#icon-arrow-support"></use>
    </svg>
  </button>
</div>
